<%- include('header'); %>

<div class="box" id="header">
  <p><%= listTitle %>!</p>
</div>

<div class="box">
  <form action="/delete" method="post">
    <% listItems.forEach(item=>{ %>
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
        <span><%= item.name %></span>
      </div>
    <% }) %>
    <input type="hidden" name="list" value="<%= listTitle %>">
  </form>
  
  <div class="item">
    <form action="/" method="post">
      <input type="text" name="newList" autocomplete="off"/>
      <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
  </div>
</div>    

<%- include("footer"); %>